
html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url('/assets/images/login_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.login-reg-box{
  width: 400px;
  height: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
}
.login-reg-box h4{
height: 60px;
text-align: center;
line-height: 60px;
}
.reg-wrap{
  display: none;
}